@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;

}

.box-content{
    width: 50%;
}

.btn{
    padding: 10px 50px;  
    background-image: linear-gradient(orange, tomato);
    border-radius: 5px;
    border: none;
    font-size: 15px;
    text-decoration: none;
    transition: 0.3s ease;
    color: black;
    font-weight: 600;
  }
  .btn:hover{
      background: crimson;
      color: white;
  }


.banner-area{
    display: flex;
    margin-bottom: 100px;
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
}

.banner-title{
    margin-top: 100px;
    margin-left: 80px;
    width: 50%;
}

.banner-title h1{
    font-size: 40px;
}
.banner-title h3{
    font-size: 20px;
    color: darkgray;
}
.banner-title p{
    font-size: 15px;
    padding-bottom: 15px;
}

span{
    color: orange;
}

.image{
    width: 50%;
}
.image img{
    width: 100%;
}
/* 
banner area ends */
.dream-area{
    display: flex;
    margin-bottom: 100px;
}

.dream-images{
    width: 50%;
    margin-left: 50px;
}

.dream-images img{
    width: 80%;
}
.dream-title{
    width: 50%;
    padding-top: 60px;
}

.dream-title h1{
    font-size: 40px;
    padding-bottom: 30px;
    color: #4c4c4c;
}
.dream-title h3{
    font-size: 25px;
    color: black;
    padding-bottom: 20px;

}
.dream-title p{
    font-size: 15px;
    color: black;
    padding-right: 30px;
    padding-bottom: 20px;
    
    
}

/* dream area ends */
.expert-area{
    margin-bottom: 100px;
    background-image: url(../images/exp-bg.png);
    background-repeat: no-repeat;

}
.expert-title{
    width: 100%;
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
    color: black;
}
.box-container{
    display: flex;
    margin: 0 50px;
}
#expert-slice{
    border-image-slice: 1;
    border-left: 7px orange, crimson;
}

.expert-content{
    width: 100%;
    box-shadow: 5px 5px 7px 5px;
    padding: 40px 40px;
    margin: 30px;
    color: #4c4c4c;
    border-radius: 5px;
    transition: .3s ease;
}
.expert-content:hover{
    color: #3431f0;
}
.expert-content h1{
    font-size: 25px;
    padding: 25px 10px;
    color: #a0640a;
}
.expert-content h3{
    font-size: 20px;
    color: darkgray;
}
.expert-content p{
    font-size: 15px;
    color: black;
}












