@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body{
  font-family: 'Poppins', sans-serif;

}


.banner-area{
    display: flex;
}

.banner-title{
    margin-top: 100px;
    margin-left: 80px;
}

.banner-title h1{
    font-size: 40px;
}
.banner-title h3{
    font-size: 20px;
    color: darkgray;
}
.banner-title p{
    font-size: 15px;
    padding-bottom: 15px;
}

span{
    color: orange;
}

image{
    width: 50%;
    margin: 100px ;
}
.slider-content p{
    padding-right: 50px;
}

.btn{
  padding: 10px 50px;  
  background-image: linear-gradient(orange, tomato);
  border-radius: 5px;
  border: none;
  font-size: 15px;
  text-decoration: none;
  transition: 0.3s ease;
  color: black;
  font-weight: 600;
}
.btn:hover{
    background: crimson;
    color: white;
}



.image{
    width: 50%;
}
.image img{
    width: 80%;
}
